/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        exclaim {
            bindings = <&kp EXCLAMATION>;
            key-positions = <1 13>;
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <0 1 2 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 3 39 40 41>;
            flavor = "balanced";
            hold-trigger-on-release;
        };
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            retro-tap;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 36 37 38>;
            hold-trigger-on-release;
        };
        thumb: thumb {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35>;
        };
        symbols: symbols {
            compatible = "zmk,behavior-hold-tap";
            label = "SYMBOLS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
        };
        bottom: bottom {
            compatible = "zmk,behavior-hold-tap";
            label = "BOTTOM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &symbols EXCLAMATION Q  &kp W            &kp E            &kp R                &kp T                          &kp Y        &kp U        &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &hml LEFT_SHIFT A       &hml LEFT_ALT S  &hml LEFT_WIN D  &hml LEFT_CONTROL F  &kp G                          &kp H        &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z                   &bottom LC(X) X  &bottom LC(C) C  &bottom LC(V) V      &kp B                          &kp N        &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                                                    &kp LGUI         &lt 1 RET            &thumb LEFT_SHIFT BACKSPACE    &key_repeat  &lt 2 SPACE  &kp RALT
            >;
        };

        move {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE  &kp N1        &kp PAGE_DOWN  &kp UP_ARROW  &kp PAGE_UP       &kp DEL         &kp N6    &kp N7        &kp N8        &kp N9        &kp N0  &kp BSPC
&bt BT_CLR  &kp LEFT_WIN  &kp LEFT       &kp DOWN      &kp RIGHT         &bt BT_SEL 4    &kp LEFT  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans
&kp LSHFT   &kp C_MUTE    &kp C_VOL_DN   &kp C_VOL_UP  &kp C_PLAY_PAUSE  &trans          &trans    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                                         &kp LGUI      &trans            &kp SPACE       &trans    &to 4         &kp NUMBER_0
            >;
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL    &kp AT        &kp HASH    &kp DLLR    &kp PRCNT       &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans      &trans        &trans      &trans      &trans          &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &bt BT_CLR  &out OUT_TOG  &bt BT_PRV  &bt BT_NXT  &bt BT_SEL 4    &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                     &kp LGUI    &to 3       &kp SPACE       &kp RET    &trans     &kp RALT
            >;
        };

        admin {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &to 0
            >;
        };

        gaming {
            bindings = <
&kp ESC       &kp TAB    &kp Q  &kp W   &kp E      &kp R        &kp T    &kp Y   &kp U  &kp I      &kp O   &kp P
&kp LEFT_WIN  &kp LSHFT  &kp A  &kp S   &kp D      &kp F        &kp G    &kp H   &kp J  &kp K      &kp L   &kp SEMI
&kp LALT      &kp LSHFT  &kp Z  &kp X   &kp C      &kp V        &kp B    &kp N   &kp M  &kp COMMA  &kp F5  &kp F9
                                &trans  &kp LCTRL  &kp SPACE    &kp RET  &trans  &to 0
            >;

            label = "gaming";
        };
    };
};
